.private {
    position: relative;
    margin-top: 50px;
    color: #fff;

    &__title {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        letter-spacing: 0.5em;

        &:before {
            position: absolute;
            top: -50px;
            left: 50%;
            display: block;
            width: 1px;
            height: 786px;
            background-color: var(--border_color);

            content: "";
        }
    }

    &__header {
        display: grid;
        height: 100vh;
        padding-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        background: url("../img/private_events/background.jpg") center center/cover no-repeat;
    }

    &__left-img {
        display: block;
        width: 470px;
        height: 470px;
        position: relative;
        z-index: 1;
        margin-left: 250px;

        h3 {
            position: absolute;
            top: 196px;
            right: -202px;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 475px;
            height: 80px;
            padding-left: 25px;
            transform: rotate(90deg);
            background-color: #000;
        }

        .square {
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            left: -125px;
        }
    }

    &__right-img {
        display: block;
        width: 470px;
        height: 470px;
        position: relative;

        h3 {
            position: absolute;
            top: 197px;
            right: 193px;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 475px;
            height: 80px;
            padding-left: 25px;
            transform: rotate(-90deg);
            background-color: #000;
        }

        .square {
            top: 50%;
            transform: translateY(-50%);
            right: -125px;
        }
    }

    p {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: rgba(255, 255, 255, .5);

        span {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #492C1E;

        &-img {
            display: block;
            width: 360px;
            height: 360px;
        }
    }
}