@import "libs/banny-font";
@import "libs/bootstrap-reboot";
@import "libs/slick";
@import "libs/slick-theme";
@import "base/variables";
@import "base/mixins";

* {
    font-family: "Open Sans", sans-serif;
}

section {
    height: 100vh;
}

@import "blocks/text/title-mod";
@import "blocks/text/text-mod";
@import "blocks/header/header";
@import "blocks/buttons/buttons";
@import "blocks/square/square";
@import "blocks/about/about";
@import "blocks/team/team";
@import "blocks/table/table";
@import "blocks/specialities/specialities";
@import "blocks/menu/menu";
@import "blocks/private-ev/private-ev";
@import "blocks/contact/contact";
@import "blocks/footer/footer";


