.table {
    padding: 100px 195px 100px 135px;

    &__title {
        margin-top: 100px;
        text-align: center;
    }

    .divider{
        @include divider;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__form {
        display: flex;
        margin-left: 55px;
        flex-direction: row;
        justify-content: space-between;
    }

    input {
        padding: 20px;
        background-color: #e5e5e5;
        width: 255px;
        height: 60px;
        margin-bottom: 10px;
        margin-right: 10px;
        color: rgba(51, 51, 51, .5);
        border: none;
        border-radius: 5px;
    }

    &__time,
    &__people {
        position: relative;
        display: inline-block;
        width: 255px;
        height: 60px;
        color: rgba(51, 51, 51, .5);

        select {

            display: block;
            width: 255px;
            height: 60px;
            margin-left: 5px;
            padding: 20px;
            background-color: #e5e5e5;
            color: rgba(51, 51, 51, .5);
            border: none;
            border-radius: 5px;
            appearance: none;

        }

        &:after{
            content: "\2039";
            font-size: 30px;
            position: absolute;
            top: 45%;
            transform: rotate(-90deg);
            right: 35px;
            display: block;
            width: 10px;
            height: 10px;
            pointer-events: none;
            cursor: pointer;
        }
    }

    &__col-2 {
        position: relative;

        .square {
            position: absolute;
            top: 170px;
            right: -15px;
        }
    }

    p {
        text-align: center;
        margin-top: 50px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, .5);
    }
}