.footer {
    display: flex;
    height: 100px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    color: rgba(255, 255, 255, .5);
}