.team {
    padding: 50px 100px 100px 195px;
    color: #fff;
    background: url("../img/chief/background.jpg") center center/cover no-repeat;

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__col-1 {
        position: relative;
        padding-top: 50px;
        background-color: inherit;
    }

    &__col-2 {
        padding-top: 115px;

        p {
            text-align: center;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .square {
        top: 155px;
        left: -115px;
    }

    .divider {
        @include divider;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}