.contact {
    margin-top: 360px;
    padding: 100px 80px 100px 150px;

    &__title {
        text-align: center;
    }

    .divider {
        @include divider;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__descr {
        width: 565px;
        margin: 0 auto;
        text-align: center;
    }

    &__form {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: rgba(51, 51, 51, 0.5);

        input {
            width: 420px;
            height: 60px;
            margin-right: 10px;
            padding: 20px;
            background-color: #e5e5e5;
            border: none;
            border-radius: 5px;
            color: rgba(51, 51, 51, 0.5);
        }
    
        textarea {
            width: 1288px;
            height: 120px;
            margin-top: 10px;
            padding: 20px;
            background-color: #e5e5e5;
            color: rgba(51, 51, 51, .5);
            border: none;
            border-radius: 5px;
            resize: none;
        }
    }

    &__requis {
        display: flex;
        width: 1288px;
        height: 60px;
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            display: inline-block;
            margin-top: 15px;
            margin-left: 5px;
        }
    }


}
