.menu {
    padding: 100px 80px;
    height: 950px;

    &__title {
        text-align: center;
    }

    .divider {
        @include divider;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__descr {
        width: 565px;
        margin: 0 auto;
        text-align: center;
    }

    &__tabs {
        padding: 0;

        label {
            display: inline-block;
            width: 120px;
            height: 50px;
            text-align: center;
            padding-top: 20px;
            margin-top: 55px;
            border-right: solid 1px #d6d6d6;
            text-transform: uppercase;
            cursor: pointer;

        }
    }

    &__first {
        margin-left: 280px;
        border-left: solid 1px #d6d6d6;
    }

    // &__item {
    //     display: flex;
    //     width: 120px;
    //     height: 50px;
    //     justify-content: center;
    //     align-items: center;
    //     border-right: 1px solid rgba(51, 51, 51, 0.2);
    // }

    &__dish {

        p {
            color: rgba(0, 0, 0, .5);
        }
    }

    &__price {
        display: inline-block;
        margin-left: 10px;
    }

    &__container {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__col-1,
    &__col-2,
    &__col-3 {
        padding: 50px;
    }


    &__container {
        display: none;
    }

    input[type="radio"] {
        display: none;
    }

    #soupe-item:checked~#soupe-content,
    #pizza-item:checked~#pizza-content,
    #pasta-item:checked~#pasta-content,
    #desert-item:checked~#desert-content,
    #wine-item:checked~#wine-content,
    #beer-item:checked~#beer-content,
    #drinks-item:checked~#drinks-content{
        display: inline-grid;
        width: 100%;
        margin-left: 45px;
        // flex-direction: row;
        // justify-content: start;
    }
}