.btn {
    display: block;
    width: 200px;
    height: 60px;
    background-color: var(--main_color);
    color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &__header-explore {
        background-color: rgba(0, 0, 0, 0);
        border: solid 1px rgba(255, 255, 255, .5);

        &:hover {
            background-color: var(--main_color);
            border: none;
        }
    }

    &__header-table {

        &:hover {
            background-color: rgba(0, 0, 0, 0);
            border: solid 1px rgba(255, 255, 255, .5);
        }
    }
}