.title {
    font-family: "Banny Round";
    text-transform: uppercase;

    &_fz96 {
        font-size: 96px;
    }

    &_fz36 {
        font-size: 36px;
        line-height: 48px;
    }

    &_fz24 {
        font-size: 24px;
        line-height: 12px;
    }
}