.header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 280px 220px 320px 220px;
    background: url("../img/header/header-bg.jpg") center center/cover no-repeat;
    color: #fff;

    &__title {
        text-align: center;
    }

    &__subtitle {
        font-family: "Open sans", sans-serif;
        text-align: center;
        line-height: 14px;
    } 

    &__menu {
        position: absolute;
        top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 530px;
        list-style-type: none;

        &-item {
            text-transform: uppercase;
            line-height: 18px;
            cursor: pointer;
        }

        &-left {
            left: 80px;
        }

        &-right {
            right: 120px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50px;
            width: 1px;
            height: 677px;
            background-color: var(--border_color);

        }
    }

    .anchor {
        display: block;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);

        &:before {
            content: "";

            position: absolute;
            top: 75px;
            right: 220px;
            height: 1px;
            width: 530px;
            background-color: var(--border_color);
        }

        &:after {
            content: "";

            position: absolute;
            top: 75px;
            left: 220px;
            height: 1px;
            width: 530px;
            background-color: var(--border_color);
        }
    }

    .divider {
        @include divider;
        margin: 0 auto;
    }

    &__btns {
        margin-top: 31px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 335px;
    }

    &__down {
        position: relative;
        margin: 0 auto;
        margin-top: 82px;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #bdbdbd;
        }

        &:before {
            content: "";
            position: absolute;
            top: -25%;
            display: block;
            width: 60px;
            height: 60px;
            background-color: rgba(0, 0, 0, 0);
            border: solid 1px var(--border_color);
            border-radius: 50%;
        }
    }

    &__social {
        position: absolute;
        top: 340px;
        right: 80px;
        display: flex;
        height: 220px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        &-item {
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border: solid 1px var(--border_color);
            border-radius: 50%;
        }
    }

    &__working-hours {
        position: absolute;
        top: 435px;
        left: 0;
        transform: rotate(-90deg); 
    }
}